RewriteEngine On
RewriteCond %{HTTPS} on

RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin-cpanel$ routes/admincpanel.php [NC,QSA]
RewriteRule ^admin-cpanel/(.*)$  routes/admincpanel.php?page=$1 [NC,QSA]
RewriteRule ^admincpanel$  routes/admincpanel.php [NC,QSA]
RewriteRule ^admincpanel/(.*)$  routes/admincpanel.php?page=$1 [NC,QSA]
RewriteRule ^adminPages/(.*)$ admin-panel/$1 [L]


RewriteRule ^welcome(.*)$ index.php?link1=welcome [QSA,L]
RewriteRule ^$ index.php?link1=welcome [QSA]
RewriteRule ^home$ index.php?link1=home [QSA]
RewriteRule ^logout(/?|)$ index.php?link1=logout [QSA]
RewriteRule ^login(/?|)$ index.php?link1=login [QSA,L]
RewriteRule ^vote(/?|)$ index.php?link1=vote [QSA,L]
RewriteRule ^404$ index.php?link1=404 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([A-Za-z0-9_]+)/([^\/]+)(\/|)$  index.php?link1=profile&u=$1&type=$2 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\/]+)(\/|)$  index.php?link1=profile&u=$1 [QSA]


# Disable index view
Options -Indexes

# Hide a specific file
<Files .env>
    Order allow,deny
    Deny from all
</Files>